.main {
    .header {
        position: fixed;
        top: calc(100vh * 0.05);
        .row {
            .logo {
                font-family: 'Pacifico', cursive;
                color: $black-font-color;
                position: relative;
                left: calc(100vw * 0.11);
            }
            .navigation {
                position: relative;
                right: calc(100vw * 0.11);
                .nav-item {
                     :hover {
                        border-top: 3px solid $orange-border-color;
                    }
                    .nav-link {
                        color: $black-font-color;
                    }
                }
            }
        }
    }
    .content {}
}