// custom paddings
.pt-2-custom {
    padding-top: 2rem;
}

.pr-2-custom {
    padding-right: 2rem;
}

.pb-2-custom {
    padding-bottom: 2rem;
}

.pl-2-custom {
    padding-left: 2rem;
}