// custom font sizes
.f90 {
    font-size: 5rem;
}

.f60 {
    font-size: 3.75rem;
}

.f50 {
    font-size: 3.125rem;
}

.f40 {
    font-size: 2.5rem;
}

.f32 {
    font-size: 2rem;
}

.f24 {
    font-size: 1.5rem;
}

.f20 {
    font-size: 1.25rem;
}

.f17 {
    font-size: 1.0625rem;
}

.f16 {
    font-size: 1rem;
}

.f15 {
    font-size: 0.9375rem;
}

.f13 {
    font-size: 0.8125rem;
}

//custom font weight classes
.w300 {
    font-weight: 300;
}

.w400 {
    font-weight: 400;
}

.w700 {
    font-weight: 700;
}